@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.welcome-page {
    height: 100vh;
    background-image: url("gif.gif");
    background-color: black;
    background-position: 0% -50%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow {
    position: absolute;
    bottom: 13px;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
    border-top: 25px solid white;
    animation: fade-in2 ease 3.5s;
    transition: transform 0.3s ease-out;
}

.arrow:hover {
    transform: translateY(3px);
  }

.welcome-page > h1 {
    font-family: 'Staatliches', cursive;
    font-size: 6rem;
    animation: fade-in ease 2s;
}

@keyframes fade-in {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@keyframes fade-in2 {
    0% {
      opacity:0;
    }

    50% {
        opacity:0; 
    }
    100% {
      opacity:1;
    }
}

.location {
    display: flex;
    margin-top: 2vh;
}

.fa-map-marker {
    margin-right: 5px;
}

.photo {
    border-radius: 50%;
    width: 150px;
    margin: 8vh 0px;
}

.about {
    height: 100vh;
    font-family: 'Raleway', sans-serif; 
    max-width: 800px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description ul {
    margin: 2vh 0;
}
.contact {
    height: 60px;
    position: absolute;
    background-color: black;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact a {
    text-decoration: none;
}

.contact-details {
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    color: white;
  }

.contact-details:hover {
    transform: translateY(8px);
  }